<%- model_class = Question -%>
<div class="page-header">
  <h1>Question Dashboard</h1>
</div>
<div class="col-lg-9">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:team) %></th>
        <th><%= model_class.human_attribute_name(:position) %></th>
        <th><%= model_class.human_attribute_name(:content) %></th>
        <th><%= model_class.human_attribute_name(:answer) %></th>
        <th><%= model_class.human_attribute_name(:difficulty) %></th>
        <th><%= model_class.human_attribute_name(:author_id) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody id="qst_list">
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.team %></td>
          <td><%= question.position %></td>
          <td><%= question.content %></td>
          <td><%= question.answer %></td>
          <td><%= question.difficulty %></td>
          <td><%= @authors.find(question.author_id).name %></td>
          <td>
            <%= link_to 'show', question, class: 'btn btn-info btn-xs' %>
            <% if author_signed_in? && question.author_id == current_author.id %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_question_path(question), :class => 'btn btn-warning btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                question_path(question),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-xs btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to t('.new', :default => t("helpers.links.new")),
    new_question_path,
    :class => 'btn btn-primary' %>
</div>
<div class="col-lg-3">
  <div class="well sidebar-nav col-xs-11">
    <div class="col-xs-offset-1">
      <h4>Team:</h4>
      <div class="dropdown" id="t_opt">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownTeam" data-toggle="dropdown">
          choose
          <span class="caret" ></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownTeam">
          <li><a id="t_all">All</a></li>
          <li><a id="t_ui">UI</a></li>
          <li><a id="t_ads">Adserving</a></li>
          <li><a id="t_fct">Forecasting</a></li>
          <li><a id="t_rpt">Reporting</a></li>
        </ul>
      </div>

      <h4>Position:</h4>
      <div class="dropdown" id="p_opt">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownPosition" data-toggle="dropdown">
          choose
          <span class="caret" ></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownPosition">
          <li><a id="p_all">All</a></li>
          <li><a id="p_dev">DEV</a></li>
          <li><a id="p_qa">QA</a></li>
        </ul>
      </div>
      </div>
  </div><!--/.well -->
</div>
