<div class="page-header" id="show_page_title">
  <h1>Question</h1>
</div>

<div class="table-responsive col-sm-7 col-sm-offset-3">
  <table class="table table-striped">

    <tr>
      <td><strong>Author</strong></td>
      <td><%= @author.name %></td>
      <td><strong>Difficulty</strong></td>
      <td><%= @question.difficulty %></td>
    </tr>

    <tr>
      <td><strong>Team</strong></td>
      <td><%= @question.team %></td>
      <td><strong>Position</strong></td>
      <td><%= @question.position %></td>
    </tr>

    <tr>
      <td><strong>Content</strong></td>
      <td colspan='3'><%= @question.content %></td>
    </tr>

    <tr>
      <td><strong>Answer</strong></td>
      <td colspan='3'><%= @question.answer %></td>
    </tr>
  </table>
  <%= link_to t('.back', :default => t("helpers.links.back")),
    questions_path, :class => 'btn btn-default'  %>
  <% if author_signed_in? && @question.author_id == current_author.id %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
      edit_question_path(@question), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
      question_path(@question),
      :method => 'delete',
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      :class => 'btn btn-danger' %>
  <% end %>
</div>
